body {
  margin: 0;
  min-height: 200vh;
  background-image: url(images/beach_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav {
  display: flex;
}

nav a {
  flex: 1;
}

nav a img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
}
h1{
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 12px;

}
p{
    text-decoration: bold;
    font-size: 32px;
    color: white;
    font-family: Georgia, Verdana, sans-serif;
    text-align: justify;
    margin:50px;
}
.banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
footer {
  padding: 20px;
  text-align: center;
}

footer .footerp {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #888;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    letter-spacing: 0.3px;
}